*{
    margin:0;
    padding:0;
    outline: 0;
}
body{
    width:100%;
    background-color:#eeeeee;
    color:#212121;
}
body > header{
    text-align: center;
    color: #006de2;
    background-color:#eeeeee;
    height:20vh;
    display: grid;
    place-content: center;
}
body > main{
    background-color: #007bff;
}